{% extends "base.html" %}

{% block title %} {{pet.name}} {% endblock %}

{% block content %}
<div class="container">
<h1 class="display-2 text-center">{{pet.name}}</h1>
<div class="text-center">
<img src="{{pet.photo_url}}" alt="{{pet.notes}}" width="200" height="200">
</div>

<div class="row text-center">
<form method="post">
    {{form.hidden_tag()}}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
        
        <div class="row">
            <strong>
            {{field.label}}
            </strong>
            {{field}}
        </div>
    {% endfor %}
    
    <div class="col-12">
    <button class="btn btn-success btn-sm">Save Changes</button>
    <a href="/pets" class="btn btn-secondary btn-sm">Go Back</a>
    </div>
</form>
</div>
</div>
{% endblock %}